@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  /* Brand */
  --tea-body-font: "Roboto", san-serif;
  --tea-color-1: #056f65; /* base color */
  --tea-color-2: #2bbbad; /* usually lligher */
  --tea-color-3: #004d40; /* usually darker */
  --tea-color-attn: white;

  /* Bakcground */
  --tea-bg-1: rgb(28, 32, 34);
  --tea-bg-2: #222831;
  --tea-bg-3: rgb(17, 21, 24);

  /* Txt */
  --tea-txt-1: #eee;
  --tea-txt-2: #ccc;
  --tea-txt-3: #111416;

  /* General */
  --tea-spacing: 1rem;
  --tea-font-size: 1rem;
  --tea-radius: 0.15rem;
  --tea-transition: 0.5s ease;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--tea-bg-1, white);
  color: var(--tea-txt-1, black);
  font-size: 16px;
}

/** Actionables **/
/** Links **/
a {
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid var(--tea-color-2, #000000);
  border: 0;
  color: var(--tea-color-2, #000000);
  font-weight: 500;
}

a::after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 0.1rem;
  background: var(--tea-color, #000000);
  transform: scaleX(0.2);
  border-radius: 100%;
}

a:hover:after {
  transform: scaleX(1);
}

a:hover {
  text-decoration: none;
  color: var(--tea-color-3, #000000);
}

a:active {
  text-decoration: none;
  color: var(--tea-color-1, #000000);
}

a:visited {
  text-decoration: none;
  color: var(--tea-color-3, #000000);
}

button {
  border-radius: var(--tea-radius, 0.2rem);
  background: var(--tea-color-1, #ffffff); /** ripple color **/
  color: var(--tea-txt-1, #000000);
  border: 0px var(--tea-color-2) solid;
  border-radius: 2px;
  display: inline-block;
  padding: 0rem calc(var(--tea-spacing) / 2);
  transition: background 0.5s ease, transform 0.3s;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  min-height: 30px;
  transform: translateY(0);
  will-change: transform, background;
}

button[disabled] {
  background: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}
button:not([disabled]):hover {
  background: var(--tea-color-2, #000000);
}

button:not([disabled]):active {
  background-size: 100%;
  transform: translateY(2px);
}
button:focus {
  background-color: var(--tea-color-3, #ffffff);
  outline-offset: 2px;
}

/** Native Overrides **/

h1 {
  font-size: 160%;
}
h2 {
  font-size: 150%;
}
h3 {
  font-size: 140%;
}
h4 {
  font-size: 130%;
}
h5 {
  font-size: 120%;
}
h6 {
  font-size: 110%;
}

ul,
ol {
  padding: 0;
}

input {
  border-radius: calc(var(--tea-radius) / 2);
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  border: none;
  background: transparent;
  border-bottom: 1px solid #9e9e9e;
  color: var(--tea-txt-1);
  caret-color: var(--tea-txt-1);
}

input:focus {
  border-bottom: 1px solid var(--tea-color-1);
  box-shadow: 0 1px 0 0 var(--tea-color-1);
}

/* Helpers */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.field {
  position: relative;
  padding: calc(var(--tea-spacing) / 2) 0 0;
  margin-top: 0.8rem;
}

.field label {
  margin-right: calc(var(--tea-spacing) / 2);
  text-align: left;
}

.field input + label {
  width: 100%;
  transform: scale(0.8) translateY(50%);
  transition: opacity 0.5s, transform 0.2s ease-out;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: 0 0;
  opacity: 1;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  opacity: 0.7;
  transform: scale(0.8) translateY(-50%);
}

ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul.inline li {
  margin: 0 calc(var(--tea-spacing) / 2);
  display: inline-block;
  vertical-align: top;
}
