@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  /* Brand */
  --tea-body-font: "Roboto", san-serif;
  --tea-color-1: #00695c; /* base color */
  --tea-color-2: #00796b; /* usually lligher */
  --tea-color-3: #004d40; /* usually darker */

  /* Bakcground */
  --tea-bg-1: rgb(28, 32, 34);
  --tea-bg-2: #222831;
  --tea-bg-3: rgb(17, 21, 24);

  /* Txt */
  --tea-txt-1: #eee;
  --tea-txt-2: #ccc;
  --tea-txt-3: #111416;

  /* General */
  --tea-spacing: 1rem;
  --tea-font-size: 1rem;
  --tea-radius: 0.15rem;
}

body {
  background-color: var(--tea-bg-1, white);
  color: var(--tea-txt-1, black);
}

/** Actionables **/
/** Links **/
a {
  position: relative;
  text-decoration: underline;
  color: var(--tea-color-2, #000000);
  font-weight: 500;
}

/* a::after {
  content: "";
  position: absolute;
  transition: transform 0.5s ease;
  left: 0;
  bottom: -0.1rem;
  width: 100%;
  height: 0.1rem;
  background: var(--tea-color, #000000);
  transform: scaleX(0.2);
  border-radius: 100%;
}

a:hover:after {
  transform: scaleX(0.6);
}

a:focus:after {
  transform: scaleX(1);
} */

a:hover {
  text-decoration: none;
  color: var(--tea-color-1, #000000);
}

a:active {
  text-decoration: none;
  color: var(--tea-color-1, #000000);
}

button {
  border-radius: var(--tea-radius, 0.2rem);
  background: var(--tea-color-3, #ffffff); /** ripple color **/
  background: var(--tea-color-1, #ffffff)
    radial-gradient(circle, transparent 1%, var(--tea-color-1, #ffffff) 1%) center/15000%;
  color: var(--tea-txt-1, #000000);
  border: 1px var(--tea-color-1) solid;
  border-radius: 2px;
  display: inline-block;
  padding: 0rem 0.5rem;
  background-position: center;
  transition: background 0.8s;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -1px rgba(0, 0, 0, 0.2);
  min-height: 30px;
  transform: translateY(-2px);
}
button[disabled] {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  pointer-events: none;
}
button button:not([disabled]):hover {
  background-color: var(--tea-color-2, #000000);
}
button:not([disabled]):active {
  background-color: var(--tea-color-3, #ffffff);
  background-size: 100%;
  transition: background 0s;
  transform: translateY(0);
}
button:focus {
  outline-width: 0;
  border: 1px var(--tea-color-3) solid;
}

/** Native Overrides **/

/** Specific bits **/
.bar {
  clear: both;
  width: 100%;
  background: var(--tea-bg-3, slategrey);
  padding: 1rem 0;
}

/* Helpers */

.clearfix {
  clear: both;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul.inline li {
  margin: 0 0.5rem;
  display: inline-block;
}
